<!--BreadCrumb-->
<div class="title-box d-flex flex-column align-items-center justify-content-center">
    <h2>About Us</h2>
    <div class="breadcrumb d-flex justify-content-center">
        <a href="./home.html">Home</a>
        &nbsp;>&nbsp;
        <a href="./about.html">About Us</a>
    </div>
</div>

<!--Content-->
<div class="aboutus-sections">
    <div class="aboutus-section about-container">
        <h2>Who We Are</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Vestibulum lectus mauris ultrices eros in cursus turpis. Tortor at risus viverra adipiscing at in tellus integer
            feugiat. Dolor sit amet consectetur adipiscing elit pellentesque habitant. Curabitur vitae nunc sed velit dignissim
            sodales. Euismod in pellentesque massa placerat duis ultricies lacus. Lacinia quis vel eros donec. Aliquam malesuada
            bibendum arcu vitae elementum. Velit egestas dui id ornare arcu. Volutpat sed cras ornare arcu dui. Egestas erat
            imperdiet sed euismod nisi. Sagittis nisl rhoncus mattis rhoncus. Tempor orci eu lobortis elementum nibh tellus molestie
            nunc. Viverra mauris in aliquam sem fringilla ut morbi tincidunt augue. Proin libero nunc consequat interdum varius sit
            amet. Commodo odio aenean sed adipiscing diam donec. Tellus id interdum velit laoreet. Hendrerit gravida rutrum quisque
            non tellus orci ac auctor. Quam pellentesque nec nam aliquam. Nunc vel risus commodo viverra.
        </p>
    </div>
    <div class="aboutus-section ourgoal-container">
        <h2>Our Goals</h2>
        <p>
            Ac odio tempor orci dapibus ultrices in. Cras sed felis eget velit aliquet sagittis. Augue mauris augue neque gravida.
            In pellentesque massa placerat duis ultricies. Quis varius quam quisque id diam vel. Neque egestas congue quisque
            egestas diam in arcu cursus. Non odio euismod lacinia at. Platea dictumst quisque sagittis purus sit amet volutpat
            consequat mauris. Eleifend donec pretium vulputate sapien nec sagittis aliquam. Orci a scelerisque purus semper eget
            duis. In dictum non consectetur a erat nam at lectus urna.
        </p>
    </div>
        <div class="aboutus-section team-container">
        <h2>Our Team</h2>
        <div class="row-container d-flex flex-row align-items-center justify-content-between">
            <div class="about-box d-flex flex-column align-items-center">
                <img src="../img/keven.jpg" width="180" height="180" />
                <div class="content">
                    <h4>Tep Keven</h4>
                    <p>Founder and Developer</p>
                </div>
            </div>
            <div class="about-box d-flex flex-column align-items-center">
                <img src="../img/team/user1.jpg" width="180" height="180" />
                <div class="content">
                    <h4>Ben Thomson</h4>
                    <p>Software Developer</p>
                </div>
            </div>
            <div class="about-box d-flex flex-column align-items-center">
                <img src="../img/team/user2.jpg" width="180" height="180" />
                <div class="content">
                    <h4>Thomas Clerk</h4>
                    <p>Backend Developer</p>
                </div>
            </div>
            <div class="about-box d-flex flex-column align-items-center">
                <img src="../img/team/user3.jpg" width="180" height="180" />
                <div class="content">
                    <h4>Jake Spear</h4>
                    <p>Marketing Director</p>
                </div>
            </div>
        </div>
    </div>
</div>