.contact-sections {
    width: 75%;
    padding-top: 2em;
    padding-left: 4em;
}

.contact-sections .contact-section:nth-of-type(1) {
    background-color: rgb(248, 246, 246);
    padding: 1em 2em 2em 2em;
    width: 93%;
    border-radius: 5px;
}

.contact-sections .contact-section {
    margin-top: 30px;
}

.location-section,
.phone-section,
.fax-section {
    padding-left: 2em;
}

.form-control-contact {
    width: 100%;
}

.form-control-contact input {
    height: 40px;
    border-radius: 5px;
    width: 100%;
    border: solid 1px rgb(181, 178, 178);
    margin-top: 10px;
}

.form-control-contact textarea {
    height: 200px;
    border-radius: 5px;
    width: 100%;
    border: solid 1px rgb(181, 178, 178);
    margin-top: 10px;
}

