.form-container {
    width: 33%;
    border: solid 1px gray;
    padding: 30px 50px;
}

.form-control-login input:not([type="checkbox"]) {
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    border: solid 1px rgb(181, 178, 178);
    margin-top: 10px;
}